<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>클릭</title>
    <link rel="stylesheet" href="../public/css/style.css" />
  </head>
  <body>
    <h1 id="session">0</h1>
    <a href="#">클릭</a>
    <br>
    <h2 id="score">전 세계</h2>
    <audio src="../public/sounds/pop.mp3"></audio>
    <script src="../public/js/app.js"></script>
  </body>
</html>
